.header{
    display: grid;
    grid-template-columns: 2fr 0.2fr 0.02fr auto;
    grid-template-rows: 38px;
}

li a{
    text-decoration: none;
    margin: 1px;
    border: solid 1px #7c1bd6;
    border-radius: 15px;
    background-color: #7c1bd6;
    color: white;
    padding: 5px 10px;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    justify-self: center;
}

.imge{
    height: 450px;
    width: 200px;
    margin: 0 5px 0 5px;
    justify-content: space-evenly;
    float: left;
}

.heading{
    color: white;
}

.slide_show{
    height: 500px;
    width: 800px;
}



