.header{
    display: grid;
    grid-template-columns: 2fr 0.2fr 0.02fr auto;
    
}

li a{
    text-decoration: none;
    margin: 1px;
    border: solid 1px #7c1bd6;
    border-radius: 15px;
    background-color: #7c1bd6;
    color: white;
    padding: 5px 10px;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    justify-self: center;
}

.imge{
    height: 450px;
    width: 200px;
    margin: 0 5px 0 5px;
    justify-content: space-evenly;
    float: left;
}

.image-body{
    display: flex;
}

.heading{
    color: white;
}

.slide_show{
    height: 550px; 
    width: 920px;
}

.bg-color{
    background-color: rgb(49, 49, 49);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 0 20px 20px 0;
    padding-right: 12px;
}

.fa-solid{
    color: wheat;
}

.input-bg{
    border: 1px solid rgb(49, 49, 49);
    border-radius: 20px 0 0 20px;
    background-color: rgb(49, 49, 49);
    padding-left: 12px;
}

.button-pre{
    position: relative;
    right: 925px; 
    top: -275px;  
}

.button-nex{
    position: relative;
    right: 52px;
    top: -275px;
}

.img-slideshow{
    display: block;
}

