*{
    color: white;
}

.header{
    display: grid;
    grid-template-columns: 2fr 0.2fr 0.02fr auto;
    
}

li a{
    text-decoration: none;
    margin: 1px;
    border: solid 1px #7c1bd6;
    border-radius: 15px;
    background-color: #7c1bd6;
    color: white;
    padding: 5px 10px;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    justify-self: center;
}

.imge{
    height: 450px;
    width: 200px;
    margin: 0 40px -50px 40px ; 
}

.imge :hover{
    transform: translateY(-10px);
    border: 0px solid white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.image-body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;   
}

.heading{
    color: white;
}

.slide_show{
    height: 550px; 
    width: 920px;
}

.bg-color{
    background-color: rgb(49, 49, 49);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 0 20px 20px 0;
    padding-right: 12px;
}

.fa-solid{
    color: wheat;
}

.input-bg{
    border: 1px solid rgb(49, 49, 49);
    border-radius: 20px 0 0 20px;
    background-color: rgb(49, 49, 49);
    padding-left: 12px;
}

.button-pre{
    position: absolute;
    top: 45%;
    left: 0;
    height: 70px;
    width: 40px;
    filter: opacity(30%);
}

.button-nex{
    position: absolute;
    top: 45%;
    right: 0;
    height: 70px;
    width: 40px;
    filter: opacity(31%);
}

.img-slideshow{
    position: relative;
    width: 920px;
}

.fa-solid{
    color:black;
}

.fa-magnifying-glass{
    color: wheat;
}

*:focus {
    outline: none;
}

.input-bg{
    color: white;
}

.heading{
    margin: 0 0 4px 0;
}

@media only screen and (max-width: 400px) {
    .button-pre{
        position: relative;
        right: 925px; 
        top: -275px;  
        height: 70px;
        width: 40px;
        filter: opacity(30%);
    }
    
    .button-nex{
        position: relative;
        right: 86px;
        top: -275px;
        height: 70px;
        width: 40px;
        filter: opacity(30%);
    }
    
   
}
